<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle"> <a id="menu_toggle" (click)="toggleClicked($event)"><i class="fa fa-bars"></i></a>
      </div>
      <!--<ul class="nav navbar-nav ml-auto">-->
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"> <a href="javascript:;" class="user-profile dropdown-toggle nav-link" data-toggle="dropdown"
                                 aria-expanded="false">

          <img src="assets/img/img.jpg" alt="">John Doe

          <span class=" fa fa-angle-down"></span>

        </a>
          <ul class="dropdown-menu dropdown-usermenu float-right">
            <li class="dropdown-item"><a href="javascript:;"> Profile</a>
            </li>
            <li class="dropdown-item"> <a href="javascript:;">

              <span class="badge bg-red float-right">50%</span>

              <span>Settings</span>

            </a>
            </li>
            <li class="dropdown-item"><a href="javascript:;">Help</a>
            </li>
            <li class="dropdown-item"><a href="login.html"><i class="fa fa-sign-out float-right"></i> Log Out</a>
            </li>
          </ul>
        </li>
        <li role="presentation" class="dropdown nav-item"> <a href="javascript:;" class="dropdown-toggle info-number nav-link" data-toggle="dropdown"
                                                              aria-expanded="false">

          <i class="fa fa-envelope-o"></i>

          <span class="badge bg-green">6</span>

        </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list"
              role="menu">
            <li class="dropdown-item"> <a>

              <span class="image"><img src="assets/img/img.jpg" alt="Profile Image"></span>

              <span>

                          <span>John Smith</span>

                          <span class="time">3 mins ago</span>

                        </span>

              <span class="message">

                          Film festivals used to be do-or-die moments for movie makers. They were where...

                        </span>

            </a>
            </li>
            <li class="dropdown-item"> <a>

              <span class="image"><img src="assets/img/img.jpg" alt="Profile Image"></span>

              <span>

                          <span>John Smith</span>

                          <span class="time">3 mins ago</span>

                        </span>

              <span class="message">

                          Film festivals used to be do-or-die moments for movie makers. They were where...

                        </span>

            </a>
            </li>
            <li class="dropdown-item"> <a>

              <span class="image"><img src="assets/img/img.jpg" alt="Profile Image"></span>

              <span>

                          <span>John Smith</span>

                          <span class="time">3 mins ago</span>

                        </span>

              <span class="message">

                          Film festivals used to be do-or-die moments for movie makers. They were where...

                        </span>

            </a>
            </li>
            <li class="dropdown-item"> <a>

              <span class="image"><img src="assets/img/img.jpg" alt="Profile Image"></span>

              <span>

                          <span>John Smith</span>

                          <span class="time">3 mins ago</span>

                        </span>

              <span class="message">

                          Film festivals used to be do-or-die moments for movie makers. They were where...

                        </span>

            </a>
            </li>
            <li class="dropdown-item">
              <div class="text-center"> <a>

                <strong>See All Alerts</strong>

                <i class="fa fa-angle-right"></i>

              </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- /top navigation -->
